/* запросы mobile first */

body {
  background-color: black;
  width:100%;

}

.button {
  background-color: rgba(255,255,255,.5);
}

.button:hover {
  background-color: rgba(255,255,255,.3);
}

.header {

  background-image: url(../imgs/header.png);
  background-size: cover;
  height: 770px;
  padding-top: 30px;
  background-image: -webkit-linear-gradient(90 deg, rgba(42, 42, 42, 1) 0%, rgba(23, 15, 10, 0) 100%);
  background-image: -moz-linear-gradient(90 deg, rgba(42, 42, 42, 1) 0%, rgba(23, 15, 10, 0) 100%);
  background-image: -o-linear-gradient(90 deg, rgba(42, 42, 42, 1) 0%, rgba(23, 15, 10, 0) 100%);
  background-image: linear-gradient(90 deg, rgba(42, 42, 42, 1) 0%, rgba(23, 15, 10, 0) 100%);
  
  
}

.header .button {
  border: none;
}
.headers {
  font-family: 'Oswald-ExtraLight';
  font-size: 23px;
  font-weight: 200;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: 1.2s;

}
.header a:hover {

  transition: 1s;
  color: rgba(12, 121, 255, 1);
}


.tsvet{
  font-family: 'Oswald-ExtraLight';
  font-size: 23px;
  font-weight: 200;
  text-decoration: none;
  transition: 1.2s;
  color: rgba(12, 121, 255, 1);
}
.nav .button {
  width: 48%;
  margin: 2px 0;
  padding-left: 0;
  padding-right: 0;
}

.eterniti{
height: 50px;
width: 226px;



}
.logo {
  top: 0;
  left: 0;
  right: 0;
  height: 57px;
  padding-top: 15px;
  padding-bottom: 5px;

  border-bottom-style: solid;
  border-bottom-color: aliceblue;
  border-bottom-width: 1px;
  transition: 2.3s;
  position: fixed;
text-align: left;
  padding-left: 195px;
  z-index: 100;
}
.scrolled.logo{
	
  background-color: rgba(51, 51, 51, 1);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.35);
  border-bottom-color: transparent;
  transition: 1.5s;



  position: fixed;
}



.spisok ul, li{

  height: 25px;
  width: 900px;

  display: inline;
  list-style: none;

  transition: 2s;
  text-align: left;

}

.logo_menu {
  padding-right: 50px;
  padding-top: 15px;
padding-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  float: left;
  z-index: 100;
}

.nav {
  text-align: right;
  margin-bottom: 10px;
}

.action {
  margin-top: 20px;
  text-align: left;
  top: 100px;
  margin-left: 0;
  height: 100px;
  width: 350px;
}

.action h1 {

  top: 200px;
  margin-bottom: 0;
  font-family: 'Oswald-Regular';
  font-size: 79px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  width: 450px;

}
.action h2
{
  width: 386px;
  margin-bottom: -50px;
  padding-top: 20px;
  font-family: 'Oswald-Light';
  font-size: 36px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);

}

/*.action p
{

  width: 312px;
  font-family: 'Oswald-ExtraLight';
  font-size: 20px;
  font-weight: 200;
  color: rgba(255, 255, 255, 1);
  text-align: left;
} */
.action .button {

  margin-top: 80px;
  left: 0px;
  height: 40px;
  width: 273px;
  background-color: rgba(0, 72, 255, 1);
  border: none;
  color: white;
  border-radius: 10px;
  transition: 2s;
}

.action .button:hover {

  margin-top: 80px;
  left: 0px;
  height: 40px;
  width: 273px;
  background-color: transparent;
  border: 2px solid rgba(0, 72, 255, 1);
  border-radius: 10px;
  transition: 1s;
  /*
  transform: scale(1.1, 1.1);
  */
}

.action a
{


  height: 21px;
  width: 154px;
  font-family: 'Oswald-Light';
  font-size: 25px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
text-transform: none;
  text-decoration: none;
  text-align: center;
}



.action p
{


  margin-top: 70px;
  left: 0px;
  height: 148px;
  width: 312px;
  font-family: 'Oswald-ExtraLight';
  font-size: 25px;
  font-weight: 200;
  color: rgba(255, 255, 255, 1);
  text-align: left;

  /*
  position: absolute;
  padding-top: 100px;
  width: 312px;
  font-family: 'Oswald-ExtraLight';
  font-size: 20px;
  font-weight: 200;
  color: rgba(255, 255, 255, 1);
  text-align: left;*/
}
.images
{
  float: right;
  margin-top: -115px;
  margin-right: -90px;
  height: 450px;
  width: 528px;
  
  

}
.images_wallpaper
{
  float: right;
  margin-top: -93px;
  margin-right: -428px;
  width: 406px;
  height: 362px;

}
.images_tablet
{
  float: right;
  margin-top: 5px;
  margin-right: -180px;
  height: 344px;
  width: 224px;
  

}
.images_tablet_fon
{
  float: right;
  margin-top: 29px;
  margin-right: -184px;
  width: 165px;
  hight: 224px;

}
.images_phone
{
  float: right;
  margin-top: 70px;
  margin-right: -85px;
  width: 167px;
  height: 337px;
}
.images_phone_fon
{
  float: right;
  margin-top: 87px;
  margin-right: -117px;
  width: 103px;
  hight: 118px;
}
.info {
 
  height: 836px;
  width: 100%;
  background-size: contain;
  background-color: rgba(51, 51, 51, 1);

  box-shadow: 0px 17px 26px 1px rgba(0, 0, 0, 0.67);

}

.images_pproject
{
  float: left;
  margin-top: 50px;
  margin-left: 0px;
  width: 500px;

}
.images_wallpaper_project
{
  float: right;
  margin-top: -414px;
  margin-right: -14px;
  width: 451px;
  hight: 447px;

}
.barahloff{
  margin-left: 50px;
  margin-top: 20px;

}

.project_font
{

  margin-left: 60px;
  padding-bottom: 30px;
  height: 44px;
  width: 500px;
  font-family: 'Oswald-Regular';

  font-size: 46px;
  color: rgba(255, 255, 255, 1);
  text-align: left;


}
.project_fontS
{
  margin-left: 60px;
  padding-bottom: 25px;
  height: 67px;
  width: 380px;
  font-family: 'Oswald-Light';
  font-size: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  text-align: left;


}

.project .button {

  padding-top: 12px;
  margin-left: 60px;
  margin-top: 30px;
  left: 0px;
  height: 71px;
  width: 443px;
  background-color: rgba(255, 162, 0, 1);
  border: none;
  color: white;
  transition: 2s;
  border-radius: 10px;

}

.project .button:hover {
  margin-left: 60px;
  margin-top: 30px;
  left: 0px;
  height: 71px;
  width: 443px;
  background-color: transparent;
  border: 4px solid rgba(255, 162, 0, 1);
  transition: 1s;
  border-radius: 10px;
}

.project a
{


  height: 41px;
  width: 230px;
  font-family: 'Oswald-Light';
  font-size: 41px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  text-decoration: none;
  text-align: center;

}
.project
{


  height: 836px;
  width: 100%;
  background-size: cover;
  background-image: url(../imgs/84.png);
  background-image: -webkit-linear-gradient(45 deg, rgba(84, 0, 0, 1) 0%, rgba(182, 64, 64, 0) 100%);
  background-image: -moz-linear-gradient(45 deg, rgba(84, 0, 0, 1) 0%, rgba(182, 64, 64, 0) 100%);
  background-image: -o-linear-gradient(45 deg, rgba(84, 0, 0, 1) 0%, rgba(182, 64, 64, 0) 100%);
  background-image: linear-gradient(45 deg, rgba(84, 0, 0, 1) 0%, rgba(182, 64, 64, 0) 100%);
  background-repeat: none;

  }
.project h2{
  margin-bottom: 60px;

  font-family: 'Oswald-Light';
  font-size: 76px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.challenge{
	
  height: 836px;
  width: 100%;
  background-size: cover;
  background-image: url(../imgs/104.png);
  background-image: -webkit-linear-gradient(45 deg, rgba(15, 25, 76, 1) 0%, rgba(77, 104, 174, 0) 100%);
  background-image: -moz-linear-gradient(45 deg, rgba(15, 25, 76, 1) 0%, rgba(77, 104, 174, 0) 100%);
  background-image: -o-linear-gradient(45 deg, rgba(15, 25, 76, 1) 0%, rgba(77, 104, 174, 0) 100%);
  background-image: linear-gradient(45 deg, rgba(15, 25, 76, 1) 0%, rgba(77, 104, 174, 0) 100%);
}
.challengeIMG{
  margin-top: 130px;
  height: 82px;
  width: 82px;
  display: inline-block;

}
.challengeS{

  display: inline;
  height: 77px;
  width: 423px;
  font-family: 'Oswald-Regular';
  font-size: 66px;
  margin-left: 6px;
  margin-top: -10px;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 1);
  text-align: left;

}
.challengePP{
  height: 165px;
  width: 467px;
  /*Text styles for Каждый ден */
  font-family: 'Oswald-light';
  font-size: 36px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  text-align: left;

}
.challengeApp{
  margin-top: -100px;
  height: 165px;
  width: 467px;
  font-family: 'Oswald-Light';
  font-size: 25px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  text-align: left;

}
.challenge .button {
  padding-top: 12px;
  margin-left: -10px;
  margin-top: 0px;
  left: 0px;
  height: 71px;
  width: 383px;
  background-color: rgba(0, 150, 255, 1);
  border: none;
  color: white;
  border-radius: 10px;
  transition: 2s;
}

.challenge .button:hover {
  margin-left: -10px;
  margin-top: 0px;
  left: 0px;
  height: 71px;
  width: 383px;
  background-color: transparent;
  border: 4px solid rgba(0, 150, 255, 1);
  transition: 1s;
  border-radius: 10px;
}

.challenge a
{


  height: 21px;
  width: 154px;
  font-family: 'Oswald-Light';

  font-size: 41px;
  font-weight: 300;

  color: rgba(255, 255, 255, 1);
  text-transform: none;
  text-decoration: none;
  text-align: center;
}

.challenge_tablet
{
  float: right;
 margin-top: 120px;
 margin-right: -50px;
  height: 457px;
width: 329px;
  

}

.challenge_iphone
{
  float: right;
 margin-top: 300px;
 margin-right: -100px;
height: 430px;
width: 230px;
  

}

































.principles
{
  
  height: 836px;
  width: 100%;
  background-size: contain;
  background-color: rgba(51, 51, 51, 1);
}

.principles h2{



  font-family: 'Oswald-Light';
  font-size: 76px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
text-align: center;
}








.info h2{
margin-top: 80px;
margin-bottom: 60px;

  font-family: 'Oswald-Light';
  font-size: 76px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.deiat
{



  margin-left: -55px;
  height: 264px;
  width: 327px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 0px 10px 9px 1px rgba(0, 0, 0, 0.23);
  text-align: center;
  transition: 1s;

}
.deiatU
{


  height: 264px;
  width: 327px;
  /*height: 297px;
  width: 367px;*/
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 0px 10px 9px 1px rgba(0, 0, 0, 0.23);
  text-align: center;
  transition: 1s;
  vertical-align: bottom;
}
.deiatX
{


  transition: 1s;
  height: 264px;
  width: 327px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 0px 10px 9px 1px rgba(0, 0, 0, 0.23);
  text-align: center;
  margin-left: 55px;
  vertical-align: bottom;

}
.deiatX:hover {
  transform: scale(1.12, 1.13);
  box-shadow: 0 0 15px white;
  transition: 1s;
}
.deiatU:hover {
  transform: scale(1.12, 1.13);
  box-shadow: 0 0 15px white;
  transition: 1s;
}
.deiat:hover {
  transform: scale(1.12, 1.13);
  box-shadow: 0 0 15px white;
  transition: 1s;
}
.imgages_1{


  margin-top: 62px;
  height: 77px;
  width: 62px;

}
.imgages_2{


  margin-top: 62px;
  height: 77px;
  width: 66px;

}
.imgages_3{

padding-bottom: 14px;
  margin-top: 62px;
  height: 63px;
  width: 68px;

}
.info figcaption{
  height: 86px;
  font-family: 'Akrobat-Light';
  font-size: 41px;
  font-weight: 300;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  vertical-align: bottom;
}

.info .button {
  background-color: rgb(215, 143, 97);
  border: none;
  color: white;
}

.info .button:hover {
  background-color: rgb(255, 207, 130);
  border: none;
}

.footer {
  height: 86px;
  width: 100%;
  background-color: rgba(25, 25, 25, 1);
  padding-top: 32px ;
}
.footer p{
  height: 24px;
  font-family: 'Oswald-Regular';
  font-size: 23px;
  color: rgba(70, 70, 70, 1);
  text-align: left;
}

.social-media-list li {
  list-style: none;
  margin: 0;
}
.social-media-list a {
  text-decoration: none;
}
.icon > svg {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 5px;
}

/* стили для ширины крупнее мобильных */
@media (min-width: 400px) {
  
}

/* стили для ширины крупнее фаблетов */
@media (min-width: 550px) {
  .info {
    padding-top: 20px;
  }
  .nav {

  }
  .nav .button {
    width: auto;
    padding: 0 30px;
  }
}

/* стили для ширины крупнее планшетов */
@media (min-width: 750px) {
  .action {
    padding: 75px 0 25px;
  }
}

/* стили для ширины крупнее компьютерных мониторов */
@media (min-width: 1000px) {
  .header {
    padding: 50px 0;
  } 
  .logo {
    font-size: 3rem;
  }
}

.sizeImg{
  height: 430px;
  width: 292px;
}
.sizeImgWit
{
  height: 232px;
  width: 167px;
  padding-bottom:120px ;
  margin-top: -450px;
  margin-left: 61px;
}
.sinx{
  height: 430px;
  width: 292px;
  border-radius: 5px;
  background-color: aliceblue;
  transition: 1s;
}
.sinx:hover {
  transform: scale(1.12, 1.13);
  box-shadow: 0 0 15px white;
  transition: 1s;
}
.avgs
{
  margin-top: 40px;
  margin-bottom: 70px;
}
.avgs h2{

}

.colors{
  height:300px;
  width:200px;
color: black;
  background-color: gray;
  padding: 10px 10px 10px 10px;
  border-width: 5px;
  border-color: green;
  border-style: solid;


}
.zcolors
{
  height:290px;
  width:190px;
  background-color: rgb(255, 207, 130);
}



.komand
{
  height: 1038px;
  width: 100%;
  background-size: cover;
  background-image: url(../imgs/213.png);
  background-image: -webkit-linear-gradient(180 deg, rgba(32, 32, 32, 1) 0%, rgba(168, 168, 168, 0) 100%);
  background-image: -moz-linear-gradient(180 deg, rgba(32, 32, 32, 1) 0%, rgba(168, 168, 168, 0) 100%);
  background-image: -o-linear-gradient(180 deg, rgba(32, 32, 32, 1) 0%, rgba(168, 168, 168, 0) 100%);
  background-image: linear-gradient(180 deg, rgba(32, 32, 32, 1) 0%, rgba(168, 168, 168, 0) 100%);
}

.komand h2
{





  height: 79px;

  font-family: 'Oswald-Light';
  font-size: 76px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.sav
{
  margin-top: 40px;
}


.dev
{
  margin-top: 50px;
  text-align:center;
}

.forma

{
  
  height: 836px;
  width: 100%;

  background-color: rgba(51, 51, 51, 1);
}

.forma h2
{
	margin-left: 40px;
  height: 77px;
  width: 879px;
  font-family: 'Oswald-Light';
  font-size: 76px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.forma h3
{
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 34px;
  height: 44px;
  width: 853px;
  font-family: 'Oswald-Light';
  font-size: 46px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

/* ФОРМА ЗАКАЗА */

#block-for-slider {
	height: 600px;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  
}



#viewport {
  height: 535px;
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper {
  position: relative;
  width: calc(100% * 8);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
  margin: 0;
  padding: 0;
}

.slide {
  width: calc(100%/8);
  list-style: none;
  display: inline;
  float: left;
  text-align: center;
}

.slide-img {
	height: 70%;
  width: 100%;
}
/*
#prev-btn, #next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
  cursor: pointer;
}
*/
#prev-btn {
  left: 20px;
}

#next-btn {
  right: 20px;
}

#nav-btns {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.slide-nav-btn {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color:  rgba(59, 59, 59, 1);
  border-radius: 50%;
  margin: 3px;
}

.slide-nav-btn:hover {
  cursor: pointer;
  background-color: rgba(246, 25, 25, 1);
}

.area {
	
	top: 200px;
  margin-bottom: 0;
  font-family: 'Oswald-Regular';
  font-size: 79px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  width: 450px;
	
  
  
  
 
  
  
  animation: blur 1.2s;
  
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}
 
.nameKomand{


font-family: 'Oswald-Light';
font-size: 30px;
font-weight: 300;
color: rgba(255, 255, 255, 1);
text-align: center;

}	

.specialization
{
	margin-top: -10px;
font-family: 'Oswald-Light';
font-size: 20px;
font-weight: 300;
color: rgba(255, 255, 255, 1);
text-align: center
}

.slllll
{
height:352px;
width:270px;
border-radius: 10px;
box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.67);
}

.nadp
{



  margin-left: -55px;
  height: 430px;
  width: 292px;
  background-color: rgba(51, 51, 51, 1);
  border: 5px solid rgba(8, 8, 8, 1);
  border-radius: 5px;
  box-shadow: 0px 10px 9px 1px rgba(0, 0, 0, 0.23);
  text-align: center;
  transition: 1s;

}
 .nadpZ 




  {


   height: 430px;
  width: 292px;
  /*height: 297px;
  width: 367px;*/
   background-color: rgba(51, 51, 51, 1);
   border: 5px solid rgba(8, 8, 8, 1);
  border-radius: 5px;
  box-shadow: 0px 10px 9px 1px rgba(0, 0, 0, 0.23);
  text-align: center;
  transition: 1s;
  vertical-align: bottom;
}
  

.nadpR
{


  transition: 1s;
  height: 430px;
  width: 292px;
  background-color: rgba(51, 51, 51, 1);
   border: 5px solid rgba(8, 8, 8, 1);
  border-radius: 5px;
  box-shadow: 0px 10px 9px 1px rgba(0, 0, 0, 0.23);
  text-align: center;
  margin-left: 55px;
  vertical-align: bottom;

} 

.nadp:hover {
  transform: scale(1.12, 1.13);
  box-shadow: 0 0 15px white;
  transition: 1s;
}
.nadpZ:hover {
  transform: scale(1.12, 1.13);
  box-shadow: 0 0 15px white;
  transition: 1s;
}
.nadpR:hover {
  transform: scale(1.12, 1.13);
  box-shadow: 0 0 15px white;
  transition: 1s;
}

.imgags_1{


  margin-top: 80px;
 height: 70px;
width: 81px;

}
.imgags_2{


  margin-top: 80px;
  height: 70px;
width: 81px;

}
.imgags_3{


  margin-top: 80px;
  height: 70px;
width: 81px;

}

.princiles figcapton{
	
	font-family: 'Oswald-Regular';
font-size: 30px;
color: rgba(255, 255, 255, 1);
text-align: center;
	
	
 
 
  
  line-height: 40px;
  
  
  vertical-align: bottom;
}

.vr
{

/*Text styles for Скорость */

font-family: 'Oswald-Regular';
font-size: 41px;
font-weight: 300;
color: rgba(255, 255, 255, 1);
text-align: center;
}


.hor
{

/*Text styles for Скорость */
font-family: 'Oswald-Light';
font-size: 30px;
color: rgba(255, 255, 255, 1);
text-align: center;
line-height: 35px;
}






