


p {
	margin-bottom: 12px;
}

.selem{
    display: inline;

}
.selem1{
    display: inline;
    margin-left: 18px;
}
.selem2{
    display: inline;
    margin-bottom: 5px;
}


/* add form styles here
.subform {


  font-size: 1.2em;
  color: white;
  font-family:Tahoma, Geneva, sans-serif;

}
.subform .label {
 display: inline-block;
 width: 200px;
 vertical-align: top;
 text-align: right;
 margin-right: 10px;
 font-weight: bold;
 color: rgba(255,255,255,.5);
}*/

.subform input[type="submit"]  {
    padding-bottom: 10px;
    height: 76px;
    width: 303px;

  

    font-family: 'Oswald-Light';
    font-size: 46px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    text-transform: none;
    text-align: center;
    transition: 2s;
    background-color: rgba(0, 150, 255, 1);
  border-radius: 10px;
  box-shadow: 0 0 4px white;
}
.subform input[type="submit"]:hover{


padding-bottom: 10px;
    height: 76px;
    width: 303px;
    background-color: transparent;
    border: 3px solid rgba(0, 150, 255, 1);
    border-radius: 10px;
    transition: 1s;
}

.subform select {
    display: inline-block;
    margin-top: 5px;
    height: 44px;
    width: 413px;
    background-color: rgba(196, 196, 196, 1);
    font-size: 25px;
    font-family: 'Oswald-Light';
    font-weight: 300;
}

.subform input[type="text"] {
  border-radius: 5px;
  border: none;
  background-color: rgba(196, 196, 196, 1);
  color: rgba(70, 70, 70, 1);
    font-size: 25px;
    font-family: 'Oswald-Light';
    font-weight: 300;

    height: 44px;
  width: 413px;
  padding: 15px;
}
.subform textarea{
    border-radius: 5px;
    border: none;
    background-color: rgba(196, 196, 196, 1);
    color: rgba(70, 70, 70, 1);
    font-size: 25px;
    font-family: 'Oswald-Light';
    font-weight: 300;
    box-shadow: inset 0 0 10px rgba(255,255,255,.75);
    height: 212px;
    width: 847px;
    padding: 20px;




}
.subform input[type="text"]:focus, .subform textarea:focus {
  background-color: rgba(196, 196, 196, 1);

  color: black;
}


.perexod
{
    margin-left: 10px;
    height: 16px;
    width: 650px;
    font-family: 'Oswald-ExtraLight';
    font-size: 15px;
    font-weight: 200;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}



