@font-face{
font-family: "Oswald-Regular";
src: url('Oswald-Regular.ttf');
}
@font-face{
font-family: "Oswald-Light";
src: url('Oswald-Light.ttf');
}

@font-face{
font-family: "Oswald-ExtraLight";
src: url('Oswald-ExtraLight.ttf');
}
@font-face{
font-family: "Akrobat-Light";
src: url('Akrobat-Light.otf');
}

@font-face{

font-family: "IcoFont";
font-size: 91px;
color: rgba(0, 114, 255, 1);
src: url('icofont/fonts/icofont.ttf');
text-align: center;

}
